/*--- AZZERAMENTO ---*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*--- NAV ---*/
.nav-bar{
  padding-top: 20px;
  margin-bottom: 20px;
}

 ul{
  display: inline-block;
  list-style: none;

}
 ul li{
  display: inline-block;
  padding: 0px 5px;
}

 ul li a{

 text-decoration: none;

 padding: 0 15px;
}

#caret-down a{
   border-right: 2px solid grey;
   padding-right: 15px;
   color: black;
}

#color a{
  color: black;
}
/* #caret-down:after{
    content: "\25bc";
} */

.float-right{
  float: right;
}
.fa-search{
  color: lightblue;

}
/*--- FINE NAV ---*/

/*--- BUTTON ---*/
.btn{
  border: 1px solid #FE7759;
  color: #FE7759;
  padding: 5px 16px;
  /* margin: 0px -6px; */
  border-radius: 10px;
  margin-right: 10px;
}

.btn-orange{
  background-color: #FE7759;
  border-radius: 5px;
  padding: 5px 7px;
  color: white;
  text-decoration: none;
}
/*--- FINE BUTTON ---*/

/* UTILITY */
.container{
  width: 80%;
  margin: 0 auto;
}

#logo{
  margin-bottom: 20px;
}

.seleziona{
  margin-top: 6px;
}

/*--- JUBO-TRON ---*/

.bg-img{
  background-image: url(../assets/img8/jumbotron.png);
  height: 600px;
  background-size:100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 100%;
}

 .text-jumbo{
   padding: 30px 0px;
 }

 .text-jumbo > h1{
    font-size: 50px;
    width: 35%;
    padding-top: 20px;
 }

 .text-jumbo > p{
   width: 45%;
   padding: 30px 0px;
 }

.div-jumbo{
  height: 80px;
  background-color: #AFEAE4;
  position: relative;
  bottom: -109px;
  border-top: 2px solid black;
}

/*--- FINE JUMBO-TRON ---*/

.btn-speciale{
  padding: 15px 25px;
}
/* main{
  height: 1000vh;
} */

/*--- MAIN ---*/
.bg-grey{
  background-color: #F4F9FD;
}
#cubo{
  height: 150px;
  margin-top: 40px;
}
.section-cube{
  text-align: center;
  width: 53%;
}
.section-cube > h2{
  padding: 20px  0px;
}
.section-book{
  height: 250px;
  background-color: white;
  border: 1px solid white;  /*non so perchè se elimino il bordo sale tutto sopra*/
  border-radius: 5px;
}

#book{
  height: 100px;
}
.img-button{
  float: left;
  margin: 60px 100px;
  margin-left: 150px;
}
.img-button > a{
  display: block;
}
.section-book{
  margin-top: 50px;
}
.section-book > h2{
  margin-top: 50px;
  /* padding: 20px 20px; */
}
.section-book > p{
  width: 80%;
  padding: 20px 0px;

}
.h3-hr hr{
    display:inline-bock;
}
.h3-hr > hr{
  margin: 0 auto;
  width: 30%;
  margin-bottom: 10px;

}
[class^="col-"]{
    float: left;
    padding: 25px 0px;
    /*  */
  }
  /* CLEARFIX */
  .row:after{
  content: "";
  clear: both;
  display: table;
 }
/* DIVISIONE UNA RIGA E TRE COLONNE */
.row{
  /* padding: 0px 15px; */
  text-align: center;
  /* background-color: white; */

}
.col-100{
  width: 100%;
}
.col-33{
  width: calc(100% *(1/3) - (20px));
  /* border: 1px solid black; */
  /* height: 300px: */
  /* width: calc(100% * 1/3 -(20px)); */
  /* border:1px solid black; */
  border-radius: 10px;
  margin-bottom: 50px;
  margin-left: 0px;
  background-color: white;
  margin-right: 30px;

}
.col-33:last-child{
  margin-right: 0px;
}
.col-33 p{
  padding: 20px 0px;
  margin-bottom: 20px;
}
.col-33 h2{
  padding: 20px 0px;
}
.col-33 ul{
  padding: 20px 0px;
  display: block;
}
.col-33 ul li{
  display: block;
  text-align: left;
}
/* .spazio-sup{
  margin-bottom: 20px;
} */
.spunta li:before{
  content: "\2713";
  color: white;
  border: 1px solid #FE7759;
  background-color: #FE7759;
  border-radius: 10px;
  font-size: 10px;
  padding: 0px 3px;
  margin: 0px 20px;

}
.img{
  height: 100px;
}
#bg-cyan{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  /* text-align: center; */
}
.grow{
  padding: 20px 0px;
  color: white;
  text-align: center;
}
.grow h1{
  padding: 10px 200px;
  /* text-align: center; */
}
.grow p{
  padding: 20px 40px;

  /* text-align: center; */
}

.display-block{
  display: inline-block;
  width: 24%;
  /* border: 1px solid black; */
  /* text-align:center; */
  padding: 20px 0px;
}
.font-size{
  font-size: 40px;
  margin-bottom: -30px;
  margin-top: -15px;
  /* padding-top: 20px; */
  /* vertical-align: middle; */
  /* padding: 20px 0px; */

}
.font-size:after{
  content: "+";
  font-size: 25px;

}
.row > img{
  height: 30px;
}
/* .agency{
  border: 1px solid black;
}*/
.blog{
  border-left: 1px solid white;
}
.academy{
  border-left: 1px solid white;
}
.inbound{
  border-left: 1px solid white;
  /* padding: 30px 0px; */
}
.connect{
  border-top: 1px solid white;
}
.globe{
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.followers{
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.growthub{
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding: 30px 0px;
}

.numeri{
  padding: 30px 70px;
  margin-bottom: 40px;
}
.numeri p:first-child {
  font-size: 40px;
  padding: 20px 0px;
}
.float-right1{
  float: right;
  margin-top: -120px;
}
.loghi{
  height: 15px;
  padding: 0px 10px;
  padding-top: -100px;
}
.loghi-special{
  height: 30px;
  padding: 0px 10px;
}
.aria-img{
  margin-top: 20px;
}
#with{
  width: 30%;
  margin-bottom: 40px;
}
#spazio{
  margin-bottom: 40px;
  width: 40%;
}
#margin-top{
  margin-top: 40px;
}
#img-donna{
  height: 300px;
  margin-top: -300px;

}
/*--- FOOTER ---*/
footer{
  margin-top: 50px;
  background-color: #32485a;
  color: white;
  height: 500px;
}

.allign-left{
  text-align: left;
}

.colonna-20{
  width: 20%;
  float:left;
  margin-right: 50px;
  margin-top: 30px;
}
.accanto li{
  width: 100%;
}
.accanto li:first-child{
  margin-bottom: 10px;
  /* text-decoration-style: bold; */

}
.colonna-20 .accanto li{
  padding: 5px 0px;

}
 .accanto li:first-child{
  font-weight: bold;
}
/* .traffick {
  padding-right: 20px;
} */


#btn-distanza{
  margin-bottom: 20px;
}
.btn-support{
  color: black;
  background-color: white;
}
.inline{
  margin-top: 20px;
}


.language{
  text-align: center;
  padding-top: 60px;
}

.float-footer p{
  display: inline-block;
  margin-right: 10px;
}
